body {
  background-color: #e1e1ec;
}

#grid-container {
  margin: 0 auto;
  display: grid;
  width: 800px;
  height: 800px;
  border: black 3px solid;
}

#rgb-button {
  margin: 0 auto;
}

.gridNum {
 border: 1px solid black;
}

.testNum {
  border: 1px solid #b7c1c1;
  background-color: black;
}
